@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes pulse-dot {
    0% {
      transform: scale(1);
    }
    90%, 100% {
      transform: scale(0.6);
    }
  }

  @keyframes pulse {
    0% {
      fill: #d3d6da;
      opacity: 0.8;
    }
    100% {
      fill: #f6f7f9;
      opacity: 0.5;
    }
  }

  .animate-pulse-dot {
    @apply flex justify-center items-center w-[12px] h-[12px];
    animation: pulse-dot 0.4s cubic-bezier(0, 0, 1, 1) infinite alternate;
  }

  circle {
    animation: pulse 0.4s cubic-bezier(0, 0, 1, 1) infinite alternate;
  }

  .delay-0 {
    animation-delay: 0s;
  }

  .delay-1 {
    animation-delay: 0.14s;
  }

  .delay-2 {
    animation-delay: 0.28s;
  }
}
