@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-black: #021730;
  --primary-white: #ffffff;

  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}

@layer base {
  html {
    font-family: var(--font-suit), Roboto, system-ui, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }

  body {
    position: relative;
  }

  button {
    cursor: pointer;
    font-family: var(--font-suit), Roboto, system-ui, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  }

  svg {
    pointer-events: none;
  }
}
